[Unit]
Description=OKD ignition http
Requires=network.target
After=syslog.target network.target
[Service]
Type=simple
WorkingDirectory=/root/http-ignition
ExecStart=/root/http-ignition/.venv/bin/python -m uvicorn main:app --host 127.0.0.1 --port 8080
KillSignal=SIGKILL
User=root
[Install]
WantedBy=multi-user.target