variant: fcos
version: 1.5.0
ignition:
  config:
    merge:
      - source: http://{{ loadbalancer_ip }}:8000/installation/{{ type }}.ign
kernel_arguments:
  should_exist:
    - 'crashkernel=300M'
storage:
  files:
    - path: /etc/zincati/config.d/55-updates-strategy.toml
      contents:
        inline: |
          [updates]
          strategy = "periodic"
          [[updates.periodic.window]]
          days = [ "Sun" ]
          start_time = "22:30"
          length_minutes = 60
    - path: /etc/vconsole.conf
      mode: 0644
      contents:
        inline: KEYMAP=es
    - path: /etc/hostname
      mode: 0644
      contents:
        inline: {{ item.name }}.{{ cluster_name }}.{{ searchdomain }}
    - path: /etc/NetworkManager/system-connections/ens18.nmconnection
      mode: 0600
      contents:
        inline: |
          [connection]
          id=ens18
          type=ethernet
          interface-name=ens18
          [ipv4]
          address1={{ item.ip }}/24,{{ gateway }}
          dhcp-hostname={{ item.name }}
          dns={{ dns | join(";") }};
          dns-search={{ searchdomain }}
          may-fail=false
          method=manual
passwd:
  users:
    - name: core
      ssh_authorized_keys:
        - {{ hostvars[loadbalancer[0].name+"."+cluster_name+"."+searchdomain]['ssh_public_key']['content'] | b64decode | trim }} {{ loadbalancer[0].user }}@{{ loadbalancer[0].name }}
{% for item in sshkeys %}
        - {{ item }}
{% endfor %}        
systemd:
  units:
  - name: kdump.service
    enabled: true