[Unit]
Description=OKD ignition http
Requires=network.target
After=syslog.target network.target
[Service]
Type=simple
ExecStart=/bin/python -m http.server -d /root/installation -b 127.0.0.1 8080
KillSignal=SIGKILL
User=root
[Install]
WantedBy=multi-user.target